body {
  padding-top: 56px;
}
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.login-card {
  margin-top:60px;
  margin-bottom:140px;
}
.register-card {
  margin-top:60px;
  margin-bottom:100px;
}
.reset-card {
  margin-top:80px;
  margin-bottom:200px;
}